
@{
    ViewBag.Title = "Haberler";
}

<div class="row">
    <div class="col-md-6 mt-3">
        <h6 class="border-bottom p-2 bg-primary rounded color-w shadow mb-3">Facebook</h6>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Ftr-tr.facebook.com%2Fpages%2Fcategory%2FGovernment-Organization%2FY%25C3%25BCksek%25C3%25B6%25C4%259Fretim-Kurulu-140577749427588%2F&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

    <div class="col-md-6 mt-3">
        <h6 class="border-bottom p-2 bg-primary rounded color-w shadow mb-3">Twitter</h6>
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/yuksekogretimk">Tweets by YOK</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
    <div class="col-md-6 mt-3">
        <h6 class="border-bottom p-2 bg-danger rounded color-w shadow mb-3">Youtube</h6>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NpEphp9GHBo" allowfullscreen></iframe>
        </div>

    </div>
</div>


